* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(2, 145, 255, 0.3);
          box-shadow: inset 0 0 6px rgba(2, 145, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #a4dcff;
  outline: 1px solid #64c713;
  border-radius: 4px;
}

.rw-widget-container {
  color: initial;
}

.rw-dropdown-list-input {
  width: 200px !important;
}

.rw-state-focus {
  outline: none !important;
  border: none !important;
}

.MuiTableCell-sizeMedium {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5d7bff !important;
  font-family: 'Poppins' !important;
}

.MuiTableCell-sizeSmall {
  font-family: 'Poppins' !important;
}
