*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.rw-widget-container{
    
}
.rw-dropdown-list-input{
    width: 200px !important;
}
.rw-state-focus{
    outline: none !important ;
    border: none !important;
}